<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>rocp-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.example.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.example.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.example.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>com.example.servlets.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.example.servlets.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>com.example.servlets.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Owner</display-name>
    <servlet-name>Owner</servlet-name>
    <servlet-class>com.example.servlets.Owner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Owner</servlet-name>
    <url-pattern>/Owner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSettings</display-name>
    <servlet-name>ProfileSettings</servlet-name>
    <servlet-class>com.example.servlets.ProfileSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSettings</servlet-name>
    <url-pattern>/ProfileSettings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountForm</display-name>
    <servlet-name>AccountForm</servlet-name>
    <servlet-class>com.example.servlets.AccountForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountForm</servlet-name>
    <url-pattern>/AccountForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAccount</display-name>
    <servlet-name>ModifyAccount</servlet-name>
    <servlet-class>com.example.servlets.ModifyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAccount</servlet-name>
    <url-pattern>/Accounts/*</url-pattern>
  </servlet-mapping>
</web-app>